.cardRecetas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.card__image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card__title {
    font-size: 1.2em;
    margin-top: 10px;
}